

.body {
    @apply font-sans;
    background: rgba(0, 0, 0, 0.85);
}

.bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
}

hr {
    border-top: 1px solid black;
}

.back {
    @apply max-w-[100%] lg:h-[95vh] md:h-[73vh] h-[83vh] bg-[url("C:\Users\banda\Documents\WebDevelopment\Netflix_Project\Images\bg.jpg")] bg-center;
}

.div2 {
    @apply w-[100%] lg:h-[96vh] md:h-[74vh] h-[84vh];
}

.div3 {
    @apply max-w-[1400px] grid md:grid-cols-[30%_auto] grid-cols-[40%_auto] mx-auto pt-[1.2rem]
}

.div4 {
    @apply flex justify-end items-center sm:mr-[2rem] mr-[1rem] xl:mr-[10rem]
}

.div5 {
    @apply  mr-[1rem] border-[0.5px] border-[white] sm:w-[7.8rem] w-[4rem] h-[2.1rem] px-[0.5rem] font-bold bg-[transparent] text-white rounded-[4px]
}