.b{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
}



.poster {
    @apply  lg:h-[98vh] md:h-[73vh] h-[83vh]  bg-center;
}

.p2 {
    
}

.poster-image {
    background-size: cover;
    background-position: center;
  
    width: 100vw;   
  }
  
  @media (max-width:225px) {
    .poster-image {
        height: 100vh;
      }
  }

  @media (max-width:640px) {
    .poster-image{
        
      }
  }

  .video-title-overlay {
    position: absolute; /* Positioning the title overlay */
    top: 30%; /* Adjust the top distance from the top of the poster */
 /* Adjust the left distance from the left side */
    z-index: 10; /* Ensure it stays above the poster image */
    color: white; /* Text color for the title and description */
    width: 90%; /* Width of the overlay, adjust as needed */
    left:-15%;
  }
  
  @media (max-width:640px) {
    .video-title-overlay {
        position: absolute; /* Positioning the title overlay */
        top: 5%; /* Adjust the top distance from the top of the poster */
 
        left:-7%;
      }
  }

  @media (max-width:225px) {
    .video-title-overlay {
        position: absolute; /* Positioning the title overlay */
        top: 24%; /* Adjust the top distance from the top of the poster */
 
        left:-7%;
      }
  }

  @media (min-width:320px) and (max-width:640px) {
    .video-title-overlay {
        position: absolute; /* Positioning the title overlay */
        top: 12%; /* Adjust the top distance from the top of the poster */
 
        left:-7%;
      }
  }
