
.video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25% ;
}

.video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .poster-Image {
        background-color: black; 
   
    }
}

.loading-placeholder {
    color: white; 
}

@media (max-width:1400px) {
    .poster-Image{
        min-height: 100px;
        align-items: start;
    }
}

.loading-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    50% {
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}

/* Fade-in for iframe video */
.video-iframe {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

