@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
}

.bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
}

hr {
    border-top: 1px solid black;
}

.back {
    @apply max-w-[100%] lg:h-[95vh] md:h-[73vh] h-[83vh] bg-[url("./Images/bg.jpg")] bg-center;
}

.div2 {
    @apply w-[100%] lg:h-[96vh] md:h-[74vh] h-[84vh];
}

.div3 {
    @apply max-w-[1400px] grid md:grid-cols-[30%_auto] grid-cols-[40%_auto] mx-auto pt-[1.2rem]
}

.div4 {
    @apply flex justify-end items-center sm:mr-[2rem] mr-[1rem] xl:mr-[10rem]
}

.div5 {
    @apply mr-[1rem] border-[0.5px] border-[white] sm:w-[7.8rem] w-[4rem] h-[2.1rem] px-[0.5rem] font-bold bg-[transparent] text-white rounded-[4px]
}

.btn {
    @apply hover:opacity-[0.7] text-[white] h-[2.1rem] text-[0.9rem] bg-[red] px-[0.1rem] py-[1px] w-[5rem] border-[black] rounded-md
}

.unlimited_movies {
    @apply max-w-[1500px] lg:mt-[13rem] sm:mt-[9rem] xl:mt-[11rem] mt-[4.2rem] items-center text-white text-center mx-auto
}

.unlimited_msg {
    @apply lg:text-[3.4rem] text-[2rem] font-bold text-white md:leading-none leading-8 lg:px-[3.2rem] sm:px-[0.1rem] px-[1.8rem]
}

.watch {
    @apply lg:text-[1.6rem] mt-[0.6rem] lg:mt-[1.3rem] text-[1.3rem] md:leading-none leading-7 px-[2.1rem]
}

.ready {
    @apply lg:text-[1.3rem] mt-[1.5rem] lg:mt-[2rem] text-[1.2rem] md:leading-none leading-6 px-[2.3rem]
}

.div6 {
    @apply max-w-[1300px] grid lg:grid-cols-[auto_35%] sm:grid-cols-[60%_40%] grid-cols-1 justify-end mt-[1.8rem] gap-[0.8rem]
}

.input {
    @apply sm:mr-0 mx-auto lg:w-[24rem] sm:w-[80%] w-[80%] sm:h-[3.4rem] h-[3rem] text-[1.1rem] pt-[0.7rem] px-[0.7rem] text-white border-[0.7px] border-[gray] rounded-[3px];
    background:rgba(0, 0, 0, 0.4);
    
}

.get_started {
    @apply md:mx-0 mx-auto sm:h-[3.4rem] h-[3rem] sm:w-[12.4rem] w-[9rem] sm:text-[1.6rem] text-[1.3rem] bg-[red] text-white rounded-[3px] hover:opacity-[0.8]
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
